@model IEnumerable<Domain.Entities.TblGameMaster>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block full">
    <div class="block-title">
        <h2><strong> @ViewBag.PageName</strong> </h2>
    </div>
    <div class="table-responsive">

        <button type="button" onclick="location.href='@Url.Action("Create", "GameMaster")'" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>Add</button>
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Game Name</th>
                    <th class="text-center">Date and Time</th>
                    <th class="text-center">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.IdGame)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.GameName)</td>
                        

                        <td class="text-center">@Html.DisplayFor(modelItem => item.UpdatedDateTime)</td>
                        <td class="text-center">
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdGame }, new { @title = "Edit", @class = "glyphicon glyphicon-pencil" })
                         

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/AppJavascript/GameMaster.js"></script>