
@{ var hrefURL = Censio_CMS.Startup.GethrefURL();}
@model IEnumerable<Censio_CMS.Models.Game4InstructionsModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block full">
    <div class="block-title">
        <h2><strong> @ViewBag.PageName</strong> </h2>
    </div>
    <div class="table-responsive">

        <button type="button" onclick="location.href='@Url.Action("Create", "Game4LevelInstructions")'" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>Add</button>
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Sr No.</th>
                    <th class="text-center">Level Name</th>
                    <th class="text-center">Instruction No.</th>
                    <th class="text-center">Instruction Detail</th>
                    <th class="text-center">Instruction Status</th>
                    <th class="text-center">Instruction Image</th>
                    <th class="text-center">Updated Date Time</th>
                    <th class="text-center">Actions</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.IdInstruction)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.LevelName)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.IdInstructionNo)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.InstructionDetail)</td>
                    @if (item.InstructionStatus == "Y")
                    {
                        <td class="text-center">Active</td>
                    }
                    else
                    {
                        <td class="text-center"> DeActive</td>
                    }
                    @if (item.InstructionImage == "Y")
                    {
                        <td class="text-center">Yes</td>
                    }
                    else
                    {
                        <td class="text-center">No</td>
                    }
                    <td class="text-center">@Html.DisplayFor(modelItem => item.UpdateDatetime)</td>

                    <td class="text-center">
                        <div class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdInstruction }, new { @title = "Edit", @class = "glyphicon glyphicon-pencil" })
                            @*<a href="javascript:void(0)" onclick="GetAddEdit(@item.Id_Industry);" data-toggle="tooltip" title="Edit" class="btn btn-effect-ripple btn-xs btn-success"><i class="material-icons">create</i></a>*@
                            @if (item.InstructionStatus == "Y")
                            {
                                @Html.ActionLink("DeActivate", "DeActivate", new { id = item.IdInstruction }, new { @title = "DeActivate", @class = "glyphicon glyphicon-pencil" })
                            }
                            else
                            {
                                @Html.ActionLink("Activate", "Activate", new { id = item.IdInstruction }, new { @title = "DeActivate", @class = "glyphicon glyphicon-pencil" })
                            }

                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/AppJavascript/Game4LevelInstructions.js"></script>