@model Domain.Entities.TblGame3Levels
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block full">
    <div class="block-title">
        <button type="button" onclick="location.href='@Url.Action("Index", "Game3Levels")'" class="btn btn-primary" style="float: right; margin: 0; margin-right: 10px; margin-top: 9px; padding: 1px 13px;" data-dismiss="modal" aria-hidden="true">Back</button>
        <h2><strong>@ViewBag.modelTitle Game3 Levels</strong> </h2>
    </div>
    <div class="table-responsive">

        <form id="form" class="push">

            <div class="modal-body">
                <div id="myAlert">
                </div>
                <div class="loader "> <img src="~/img/Loader.gif" style="height:50px;width:50px" /></div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        @*<div class="form-group">
                                <label for="Industry_Name">Game Name</label>
                                @Html.TextBoxFor(m => m.IdFestivalLog, new { @id = "IdFestivalLog", @style = "display: none;" })
                                @Html.DropDownListFor(m => m.GameName, new SelectList(Model.GameName, "Value", "Text"), "", new { @id = "GameName", @class = "form-control" })

                            </div>*@
                        <div class="form-group">
                            <label for="Industry_Name">Level Id</label><label class="text-danger"> * </label>
                            @Html.TextBoxFor(m => m.IdLevel, new { @id = "IdLevel", @class = "form-control", @required="true"})
                            @Html.ValidationMessageFor(m=>m.IdLevel, "",new { @class = "text-danger"})
                        </div>
                        <div class="form-group">
                            <label for="Industry_Name">Level Name</label><label class="text-danger"> * </label>
                            @Html.TextBoxFor(m => m.IdLevelLog, new { @id = "IdLevelLog", @style = "display: none;" })
                            @Html.TextBoxFor(m => m.CreatedBy, new { @id = "CreatedBy", @style = "display: none;" })
                            @Html.TextBoxFor(m => m.LevelName, new { @id = "LevelName", @class = "form-control", @required = "true" })
                            @Html.ValidationMessageFor(m => m.LevelName, " ", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="Industry_Name">Level Sequence</label><label class="text-danger"> * </label>
                            @Html.TextBoxFor(m => m.LevelSequence, new { @id = "LevelSequence", @class = "form-control", @required = "true" })
                            @Html.ValidationMessageFor(m => m.LevelSequence, " ", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="Industry_Name">Level Clearence Amount</label>
                            @Html.TextBoxFor(m => m.LevelClearenceAmount, new { @id = "LevelClearenceAmount", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Industry_Name">Level Clearence Currency</label>
                            @Html.TextBoxFor(m => m.LevelClearenceCurrency, new { @id = "LevelClearenceCurrency", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Industry_Name">Level Imagepath</label>
                            @Html.TextBoxFor(m => m.LevelImagepath, new { @id = "LevelImagepath", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Industry_Name">Message Level Success</label>
                            @Html.TextBoxFor(m => m.MessageLevelSuccess, new { @id = "MessageLevelSuccess", @class = "form-control" })
                        </div>
                       <div class="form-group">
                            <label for="checkout-payment-name">Status</label>
                            @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                   {
                                   new SelectListItem{ Text="Active", Value = "A" },
                                   new SelectListItem{ Text="Deactive", Value = "D" }}, new { @class = "form-control", @style = "width:100%;", @id = "Status" })
                        </div>

                        @*@if (@ViewBag.modelTitle == "Edit")
                            {
                                <div class="form-group">
                                    <label for="Industry_Name">Challenge Name</label>

                                    @Html.DropDownListFor(m => m.IdLevel, new SelectList(Model.ChallengeNameList, "Value", "Text"), "", new { @id = "IdLevel", @class = "form-control" })

                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label for="checkout-payment-name">Challenge Name</label>
                                    @Html.DropDownListFor(m => m.IdLevel, new SelectList(Enumerable.Empty<SelectListItem>(), "IdLevel", "ChallengeName"), "", new { @id = "IdLevel", @class = "form-control" })

                                </div>
                            }*@



                        @*<div class="form-group">
                                <label for="password">ChallengeCompletedTime1</label>
                                @Html.TextBoxFor(m => m.ChallengeCompletedTime1, new { @id = "ChallengeCompletedTime1", @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label for="password">RewardCoinsTime1</label>
                                @Html.TextBoxFor(m => m.RewardCoinsTime1, new { @id = "RewardCoinsTime1", @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label for="password">ChallengeCompletedTime2</label>
                                @Html.TextBoxFor(m => m.ChallengeCompletedTime2, new { @id = "ChallengeCompletedTime2", @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label for="password">RewardCoinsTime2</label>
                                @Html.TextBoxFor(m => m.RewardCoinsTime2, new { @id = "RewardCoinsTime2", @class = "form-control" })

                            </div>

                            <div class="form-group">
                                <label for="password">FailAttemptMessage</label>
                                @Html.TextAreaFor(m => m.FailAttemptMessage, new { @id = "FailAttemptMessage", @class = "form-control" })

                            </div>




                            <div class="form-group">
                                <label for="password">SuccessAttemptMessage</label>
                                @Html.TextAreaFor(m => m.SuccessAttemptMessage, new { @id = "SuccessAttemptMessage", @class = "form-control" })

                            </div>*@



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn" class="btn btn-effect-ripple btn-sm btn-success">Save</button>
                <button type="button" onclick="Close();" class="btn btn-effect-ripple btn-sm btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/Jquery3.5.1.js"></script>
<script src="~/js/jquery.sumoselect.min.js"></script>
<link href="~/js/sumoselect.min.css" rel="stylesheet" />
@*<script>
        $(document).ready(function () {
            $('#idbehavior').SumoSelect();
        }(jQuery));



    </script>*@
@*@if (@ViewBag.gameid == 5)
    {
        <script>
            $(document).ready(function () {
                debugger;
                var hidValue = $("#hidSelectedOptions").val();

                var selectedOptions = hidValue.split(",");
                for (var i in selectedOptions) {
                    var optionVal = selectedOptions[i];
                    $("select").find("option[value=" + optionVal + "]").prop("selected", "selected");
                }
                /*  $("select").multiselect('refresh');*/


            });
        </script>
    }*@


<script>
    $(document).ready(function () {

        
        $('#btn').on('click', function () {
            $(window).scrollTop(0);
            //debugger;
            var valid = $("#form").valid();
            if (valid == true) {
                AddEdit();
               
            }
        });

        //var hidValue = $("#hidSelectedOptions").val();

        //var selectedOptions = hidValue.split(",");
        //for (var i in selectedOptions) {
        //    var optionVal = selectedOptions[i];
        //    $("#idbehavior").find("option[value=" + optionVal + "]").prop("selected", "selected");
        //}

        //$("#Acclimateform").validate({
        //    //rules: {


        //    //    Url: "required",
        //    //    IsActive: "required",

        //    //},
        //    //messages: {


        //    //    Url: "Please Uploade Image ",
        //    //    IsActive: "Please Select a Status",
        //    //}
        //})
    });



</script>

<style type="text/css">
    .loader {
        display: none;
        position: absolute;
        top: 75%;
        left: 50%;
        margin: -75px 0px 0px -50px;
    }
</style>
<script src="~/AppJavascript/Game3Levels.js"></script>